dialog{
    position: absolute;
    width: 50vw;
    height: 100%; 
    margin: 0;
    
    left: 23%;
    border: none;
}
form{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 50vw;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0; 
}
dialog::backdrop{
}