dialog{
    position: absolute;
    width: 80%;
    height: 80%;
    border: none;
    background-color: burlywood;
    
}
form{
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    place-content: center;
}
dialog::backdrop{
}

@media(max-width:500px){
    dialog{
        width: 100%;
        height: 100%;
    }
}